	<head>
		<title>SIGN UP FORM</title>
	</head>
	<body>
	<h1>SIGN IN</h1>
		<form action="/sign_in" method="POST">
			<label>Email</label>
			<input name="[user][email]" type="text"></input>
			<label>Password</label>
			<input name="[user][password]" type="password"></input>
			<input type="submit" value="submit"></input>
		</form>

	</body>