<h1>Need an account? Sign up!!!</h1>
<form method="POST" action="/create_user">  
 <label for="email">Email</label>   
 <input type="text" name="email">
 <label for="fname">First Name</label>
 <input for="text" name="fname">
 <br>
 <label for="lname">Last Name</label>
 <input type="text" name="lname">   
 <label for="password">Password</label>  
  <input type="password" name="password">   
  <input type="submit"> 
</form>
<br>
<h2>Already have an account? Sign In!!!</h2>
<form method="POST" action="/sign-in">
	<label for="email">Email</label>
	<input type="text" name="email">

	<label for="password">Passowrd</label>
	<input type="password" name="password">
	<input type="submit">
</form>	