<h1>login</h1>
<form action="/sessions" method="POST">
	<p>
		<label for="email" style="display: none">email</label>
		<input type="email" name="email" placeholder="email"><br>
	</p>
	<p>
		<label for="password" style="display: none">password</label>
		<input type="password" name="password" placeholder="password"><br>
	</p>
	<input type="submit" value="login">
</form>