<h1>Sign up!</h1>
<form action="/signup" method="POST">
	<p>
		<label for="email" style="display: none">email</label>
	<input type="email" name="[user]email" placeholder="email" required>
	</p>
	<p>
		<label for="name" style="display: none">name</label>
		<input type="text" name="[user]name" placeholder="name" required>
	</p>
	<p>
		<label for="last_name" style="display: none">last name</label>
		<input type="text" name="[user]last_name" placeholder="last name" required>
	</p>
	<p>
		<label for="password" style="display: none">password</label>
		<input type="password" name="[user]password" placeholder="password" required>
	</p>
	<p>
		<input type="submit" value="sign up">
	</p>
</form>